<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<main class="conatainer" style="margin-top: 5rem;">

    <%- include("../partials/flash")%>

    <section id = "heading">
        <h4 class="display-4"><i class="fab fa-shopify" style="margin-right: 20px;"></i>Shopping-Cart</h4>
    </section>

    <div class="row products">
        <%for(let p of products){%>
            <div class="col-lg-3">
                <div class="card text-center m-3" style="width: 18rem;">
                    <img src="<%= p.img%>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= p.name %></h5>
                      <p class="card-text"><%= p.desc.substring(0,70) %></p>
                      <a href="/products/<%= p._id %>" class="btn btn-outline-primary">More Info</a>
                    </div>
                  </div>
            </div>

        <%}%>
    </div>
</div>
</main>
    
    
<%- include("../partials/footer")%>  

